.container{
    display: flex;
    border:1px solid black;
}
.block{
    display: block;

}

.CESscore{
    display: block;
    border-right: solid black 1px;
    width: 40%;
}


.firstcolumn{
    z-index: 100;
    width:25%;
    padding-top: 50px;

}

body{
    background-color: rgb(249, 249, 250);
}

.cover{
    z-index: 0;
    position: absolute;
    top:0;
    width:100%;
    height:20%;
    background-color: white;
} 

.profileHead{
    margin-top: 10%;
    margin-left: 4%;
    height:40%;
}
.bodytext{
    color: black;
    text-align: center;
}

.imgContainer{
    width: 200px;
    height: 200px;
    margin-left: 120px;
    border-radius: 50%;
    background-image: url("fish.jfif");
    background-size: cover;
    border: solid 1px black;
}

.profileBody{
    border: solid black 1px;
    padding-left: 10%;
    width:100%;
}

.eventHolder{
    background-color: white;
    display:block;
    box-shadow: black;
    border-radius: 10px;
    padding: 10px;
    width:80%;
    border: solid black 1px;
}